/*Index*/

/*Pallete
dark to light

#1A3C40
#1D5C63
#417D7A
#EDE6DB

*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDE6DB;
  color: #1A3C40;
  font: #1A3C40;
}

h1 {
  color: #1A3C40;

}

h2 {
  color: #1A3C40;

}

p {
    color: #1A3C40;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    color: #1A3C40;
}


#button-addon1 {
  font-size: 12px;
  font-family: "Lucida Grande";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  display: inline-block;
  padding: 0.4em 1em;
  border: 0.1em solid #1D5C63;
  border-radius: 0.38em;
  background-image: linear-gradient(#417D7A, #1D5C63);
}

#ImageUploadButton {
  color: #417D7A;
}

input[type="file"]::file-selector-button {
    border-radius: 20px;
    background-color: #417D7A;
}

------
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0%;
    width: 50%;
}
.grid-child-element {
    margin: 10px;
}




.content-wrapper{
    margin:auto;
    width:40%;

}

/* Desktop Styling */
@media (min-aspect-ratio: 1/2){
    .homeContent{
        /*background-color: yellow;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
}

.homeContent{
    /*background-color: red;*/
    margin: 0 10vw;

}

/*uploadImage*/
.tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    width: 400px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    /*background: black;*/
    background: #417D7A;
    font: #1A3C40;
    font-family: Helvetica;
    font-weight: 300;

}

.navbar__title {
    margin: auto;
    font-size: 150%;
    padding: 12px 16px;
    color: #1A3C40;
}

.navbar__item_right {
    /*padding: 16px 16px;*/
    cursor: pointer;
    vertical-align: middle;
    margin-left:auto;
    position:absolute;
    right:0;
}

.navbar__item_left {
    /*padding: 16px 16px;*/
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    left:0;
}

.navbar-inverse .navbar-brand {
  /* deals with the main title color */
    color: #1A3C40;
    font-weight: bold;
    font-size: 27px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    /* affects menu bar look */
    color: beige;
    background-color: #1D5C63;
    border-radius: 25px;
}

.navbar-inverse .navbar-nav > li > a {
  /* for the navbar elements that are not selected */
    color: #EDE6DB;

}


.navbar-inverse {
    color: #1A3C40;
}

.navbar-header {
    font: #1A3C40;
}

.container-fluid {
    font: #1A3C40;
}

/* .navbar-inverse .navbar-brand {
    font: #1A3C40;
} */


.tile {
	margin: 15px;
	cursor: pointer;
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.galleryHeading{
    margin:auto;
}

.main__image {
    width: 100%;
    height: 100%;
}

/*searchSetting*/

.container {
    /* display: "flex";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50; */
}

.preview {
    margin-top: 50;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image {
    /* max-width: "100%";
    max-height: 320;
    position: absolute;
    top: 0px;
    left: 0px; */
    float: left;
    width: 300px;
    height: auto;
    border: 3px solid #73ad21;
    padding: 10px;
    display: block;
}

.delete {
    cursor: pointer;
    padding: 15;
    background: red;
    color: white;
    border: none;
    /* float: right; */
    display: flex;
    text-align: center;
}

.checkOption {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;

    /* width: 200px;

    position: relative;
    left: -20px;

    display: inline-block;
    vertical-align: middle; */
}

/*Registration and Login*/
.formContainer{
    width:25%;
    margin:auto;

}

.btn-primary:hover {
    color: #fff;
    background-color: #417D7A;
    border-color: #black;
}

.btn-primary {
    color: #fff;
    background-color: #1D5C63;
    border-color: #black;
}
/*App*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1D5C63;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FAQ */
/* webpage content div formatting */
#content{
    /*background-color: red;*/
    margin: 0 10vw;
    font-size: 18px;
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
}

/*  */
#content div{
    padding: 10px 0;
}

p {
    font-size: 18px;
}

/* Desktop Styling */
@media (min-aspect-ratio: 1/2){
    #content{
        /*background-color: yellow;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
}

/* Home */
.homeContent{
    /*background-color: red;*/
    margin: 0 10vw;
}

#ImageUploadButton a{
    width: 100%;
}

.homeContent div{
    padding: 10px 0;
}

.mb-3{
    /*background-color: green;*/
    width: 100%;
    display: flex;
}


/* Desktop Styling */
@media (min-aspect-ratio: 1/2){
    .homeContent{
        /*background-color: yellow;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.paginationItem.disabled,
.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

/* Results */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 16px;
}

/* Add some padding inside the card container */
.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 16px;
}

.download-button {
    display: flex;
    justify-content: center;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    padding-left: 5px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.result:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.result-image {
    display: flex;
    padding-left: 10px;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 5px 5px;
}
