.tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    width: 400px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background: black;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item_right {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    margin-left:auto;
    position:absolute;
    right:0;
}

.navbar__item_left {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    left:0;
}

.tile {
	margin: 15px;
	cursor: pointer;
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.galleryHeading{
    margin:auto;
}